.q-area {
  background-color: pink;
  text-align: center;
}
.a-area {
  border: solid green;
  border-radius: 5px;
  margin: 15px;
}
.a-badge {
  color: yellow;
}
.div1 {
  margin: 10px;
  border: solid grey;
  border-radius: 5px;
}
.div2 {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  font-style: italic;
}
.div3 {
  display: flex;
  align-items: center;
}
.img {
  border-right: solid grey;
}
