@import "../utils/variables.scss";
@import "../utils/common-classes.scss";

.a-area {
  // border: solid green;
  border-radius: 5px;
  margin: 15px;
}
.a-badge {
  color: yellow;
}
.container {
  display: flex;
  justify-content: center;
}
.question-card {
  margin: 10px;
  border: thin solid $color4;
  border-radius: 5px;
  margin-top: 50px;
  max-width: 600px;
}

.question-prompt {
  font-size: large;
}
.img {
  margin: 10px 0;
}
.button {
  // border: solid pink;
  width: 100%;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .question-area {
    // border: solid blue;
  }
}
