@import "../utils/variables.scss";
@import "../utils/common-classes.scss";

body {
  font-family: $font-family;
  background-color: $color5;
  color: $color3;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li a {
    color: $color3;
    padding: 0 10px 10px 10px;
  }
  li a:hover {
    color: $color5;
    text-decoration: none;
  }
}
.container {
  display: flex;
  justify-content: center;
  border-bottom: solid $color1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  height: 100px;
}
.navitems {
  display: flex;
  align-items: center;
  margin-right: 10px;
  a {
    color: $color3;
    padding: 0 10px 0 10px;
  }
  a:hover {
    color: $color5;
    text-decoration: none;
  }
}

.helloarea {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.username {
  margin-right: 10px;
  color: $color2;
}

.tab {
  padding-top: 10px;
  margin: 0 5px;
}
.tab:hover {
  background-color: $color1;
  border-radius: 10px 10px 0 0;
}
.tabselected {
  margin: 0 5px;
  padding-top: 10px;
  border-radius: 10px 10px 0 0;
  background-color: $color1;
  a {
    color: $color5;
  }
}
.username-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu-text {
    display: none;
  }
  .helloarea {
    display: flex;
    flex-direction: column;
  }
  .username {
    font-size: smaller;
    text-align: right;
  }
  .username-desktop {
    display: none;
  }
  .username-mobile {
    display: contents;
  }
}
