@import "../utils/variables.scss";
@import "../utils/common-classes.scss";

.card-container {
  margin: 10px;
  border: thin solid $color4;
  border-radius: 5px;
}

.card-avatar {
  padding: 10px 0;
}

.question-text {
  margin-bottom: 10px;
  padding-top: 20px;
}
.btn {
  width: 100%;
}

@media only screen and (max-width: 600px) {
}
