@import "./variables.scss";
body {
  font-family: $font-family;
}
.avatar {
  width: 120px;
  height: 120px;
}
.btn {
  background-color: $color2;
  color: $color5;
  padding: 0px 15px;
  margin: 0;
  border: none;
  border-radius: 7px;
  width: 100%;
}
.card-title {
  background-color: $color4;
  color: $color5;
  padding: 10px 20px;
  font-weight: bold;
}
.card-body {
  display: flex;
  align-items: center;
  width: 500px;
}
.question-area {
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding: 10px 20px;
  border-left: thin solid $color4;
  height: 120px;
}
@media only screen and (max-width: 600px) {
  .avatar {
    width: 60px;
    height: 60px;
    transform: scale(0.5, 0.5) translate(-30px, -30px);
  }
  .card-body {
    width: 100%;
    font-size: small;
  }
}
