@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-family: "Roboto", sans-serif;
$color1: #3d5a80; //main accent
$color2: #ee6c4d; //buttons
$color3: #293241; //body text
$color4: #98c1d9; //soft accent
$color5: #ffffff; //background
$color6: #e0fbfc; //highlighted background

$card-title: 26px;
$card-title-mobile: 16px;
